.background {
  background-color: black;
  padding-top: 10rem;
}

.find {
  font-family: 'Kanit', sans-serif;
  text-align: center;
  width: 68%;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.6rem;
  background: url('../../../assets/images/res.png');
  background-position: center;
  background-size: cover;
}

.make {
  font-family: 'Kanit', sans-serif;
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 0.1rem;
}

.fit {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1200px) {
  .container {
    color: white;
    min-height: 790px;
  }

  .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 790px;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    color: white;
    min-height: auto;
    text-align: center;
    padding-bottom: 10rem;
  }
  .text {
    min-height: auto;
  }
  .find {
    margin: auto;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    width: 40%;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.6rem;
    background: url('../../../assets/images/res.png');
    background-position: center;
    background-size: cover;
  }
}

@media screen and (max-width: 1199px) {
  .find {
    width: 30%;
  }
}
@media screen and (max-width: 991px) {
  .find {
    width: 40%;
  }
}
@media screen and (max-width: 767px) {
  .find {
    width: 50%;
  }
}
@media screen and (max-width: 498px) {
  .find {
    width: 70%;
  }
}


.image {
  position: absolute;
  left: -120px;
  top: 100px;
  height: 840px;
}

.text {
  z-index: 100;
}

.btn-text {
  margin-bottom: 0;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-family: 'Kanit', sans-serif;
  width: fit-content;
  min-width: 250px;
  min-height: 60px;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 800;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 0px 0px 24px 12px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.btn::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(250px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00ffcb;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.btn:hover,
.btn:focus {
  color: #313133;
  transform: translateY(-6px);
}

.btn:hover::before,
.btn:focus::before {
  opacity: 1;
}

.btn::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}
