body,
html {
  font-family: 'Kanit', sans-serif;
}

.navbar{
	background-color: black!important;
}

.nav-link{
	color: gainsboro;
	font-size: 1.25rem;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
	color: blue;
	top: 35px;
}

.dropdown-menu{
	max-width: 35%;
}

.dropdown-toggle::after {
  display: none !important; 
}